
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{% url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0224201617043146M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Graham & Co. Dress Shirt, Tie & Bow Tie| price: $78.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP1124201517014225M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Vans Zone Bluts Short-Sleeve T-Shirt | Price: $26.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP1022201517023782M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Bob Marely 1976 T-Shirt | Price: $29.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0709201205510679M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Arizona Original Bootcut Jeans | Price: $53.99</small>
            </div>
            </div>
        </div>
    </div>

</div>



