
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{% url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0226201317034754M.jpg' %}" alt="My image" class="rounded pull-right">
       <small>Liz Claiborne Slender Trouser Leg Pants | price: $59.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0226201617024158M.jpg' %}" alt="My image" class="rounded pull-right">
            <small>Arizona Raw-Edge Denim Bermuda Shorts | Price: $48.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP1218201517095959M.jpg' %}" alt="My image" class="rounded pull-right">
                <small>Worthington Tipped Envelope Skirt-Tall | Price: $53.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0608201517035747M.jpg' %}" alt="My image" class="rounded pull-right">
                <small>Love Indigo Back Pocket Jeans | Price: $60.99</small>
            </div>
            </div>
        </div>
    </div>
    
</div>



