
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0407201620401180C.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Arizona Poplin Cargo Shorts-Boys | Price: $41.99"</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/0900631B81E48245M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Presto Plus Rotating Oven | Price: $90.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0204201517030626M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Madison Park Complete Bedding Set | Price: $265.00</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0325201617032503M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Worthington Embroidered Tank Top  | Price: $52.99</small>
            </div>
            </div>
        </div>
    
    </div>
    
</div>



