
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0302201517030242M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Eva Longoria 4-pc. Comforter Set | Price: $344.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0726201317024762M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Levi's 527 Bootcut Jeans for Boys Size 8-20 | Price: $48.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0807201317072924M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Marvel Spiderman Pillow | Price: $69.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0807201317072274M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Marvel Comics Hulk Pillow | Price: $59.99</small>
            </div>
            </div>
        </div>
    
    </div>
    
</div>



