
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0608201517035688M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Love Indigo Wing Back Flap Pocket Jeans | Price: $60.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP1216201517031308M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Liz Claiborne City Fit 5-Pocket Cropped Jeans | Price: $64.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0421201617033561M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>City Triangles Sleeveless Lace Top Romper | Price: $62.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0731201517031510M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small> Made For Life Long-Sleeve Flyaway Cardigan | Price: $50.99</small>
            </div>
            </div>
        </div>

    </div>
    
</div>



