
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{% url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0903201517023529M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>St. John's Short-Sleeve Polo Shirt| price: $26.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0612201517032350M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Arizona Ankle-Zip Jeggings| Price: $48.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP1104201517020304M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Arizona Raglan T-Shirt| Price: $23.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0226201620313565C.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Dockers Signature Flat-Front Pants| Price: $70.00</small>
            </div>
            </div>
        </div>
    </div>

</div>



