
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}?category=clearance" class="close">&times;</a>
      <img src="{% static 'sales/0900631B8140782DM.jpg' %}" alt="My image" class="rounded pull-right">
       <small>Cuisinart Round Classic Waffle Maker | Price:$30.00</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0224201517023517M.jpg' %}" alt="My image" class="rounded pull-right">
            <small>Keurig Café Latte & Cappuccino Maker | Price: $78.00</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/0900631B81D6766FM.jpg' %}" alt="My image" class="rounded pull-right">
                <small>Rachael Ray 10-pieces Cookware Set | Price: $150.00</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0805201520415923C.jpg' %}" alt="My image" class="rounded pull-right">
                <small>Lugz Empire Mens Water-Resistant Hiking Boots | Price: $108.99</small>
            </div>
            </div>
            
        </div>
         
    </div>
    
</div>



