
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}?category=new_arrivals" class="close">&times;</a>
      <img src="{% static 'sales/DP0608201517025373M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Tracey Womens Cold-Weather Boots | price: $108.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0107201603172435M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Disney Minnie Mouse Girls Athletic Shoes | Price: $42.00</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0226201617023618M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Steve Harvey Linen Blend Vest - Big & Tall | Price: $94.00</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0105201617024447M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Mixit Side Flower Jelly Strap Sandals | Price: $26.99</small>
            </div>
            </div>
        </div>
        
    </div>
    
</div>



