
{% load static %}
<div class="container">
    <div class="alert alert-warning alert-dismissible" id="myAlert">
      <a href="{%  url 'products' %}" class="close">&times;</a>
      <img src="{% static 'sales/DP0722201517022951M.jpg' %}" alt="My image" class="rounded2 pull-right">
       <small>Arizona Flex Skinny Jeans | Price: $53.99</small>
       <div class="alert alert-warning alert-dismissible">
            <img src="{% static 'sales/DP0721201517041500M.jpg' %}" alt="My image" class="rounded2 pull-right">
            <small>Stafford Travel Brown Suit Jacket Classic Fit | Price: $244.99</small>
            <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP0807201517015600M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small>Stafford Flannel Pajama Set Big & Tall | Price: $70.99</small>
                <div class="alert alert-warning alert-dismissible">
                <img src="{% static 'sales/DP1016201517075816M.jpg' %}" alt="My image" class="rounded2 pull-right">
                <small> Brooklyn Xpress Fleece Jogger Pants | Price: $53.99</small>
            </div>
            </div>
        </div>
    
    </div>
    
</div>



